
  <%= form_with model: loan, class: "row g-3 align-items-center" do |form| %>
  <% if loan.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

    <ul>
      <% loan.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="col-md-4">
    <div class="form-outline">
      <%= form.text_field :loan_amt, class: "form-control", placeholder: :loan_amt %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-outline">
      <%= form.text_field :monthly_emi, class: "form-control", placeholder: :monthly_emi %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-outline">
      <%= form.text_field :total_loan_period, class: "form-control", placeholder: :total_loan_period %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-outline">
      <%= form.text_field :total_payment, class: "form-control", placeholder: :total_payment %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-outline">
      <label for="monthly_payment_date" class="form-label" style="color: gray;">Monthly Payment Date:</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-outline">
      <%= form.date_field :monthly_payment_date, class: "form-control", placeholder: :monthly_payment_date %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-check form-switch">
      <%= form.label :monthly_emi_changable, class: "form-check-label" %>
      <%= form.check_box :monthly_emi_changable, class: "form-check-input", placeholder: :monthly_emi_changable %>
    </div>
  </div>
  <div class="col-md-6">
    <%= submit_tag 'Clear form', type: 'reset', class: "btn btn-primary", style: "background-color: gray;"%>
  </div>
  <div class="col-md-6">
    <%= form.submit class: "btn btn-primary btn-center", style: "background-color: green;"%>
  </div>
  <% end %>
