<div id="<%= dom_id loan %>">
  <p>
    <strong>Loan amt:</strong>
    <%= loan.loan_amt %>
  </p>

  <p>
    <strong>Monthly emi:</strong>
    <%= loan.monthly_emi %>
  </p>

  <p>
    <strong>Total loan period:</strong>
    <%= loan.total_loan_period %>
  </p>

  <p>
    <strong>Total payment:</strong>
    <%= loan.total_payment %>
  </p>

  <p>
    <strong>Monthly payment date:</strong>
    <%= loan.monthly_payment_date %>
  </p>

  <p>
    <strong>Monthly emi changable:</strong>
    <%= loan.monthly_emi_changable %>
  </p>

</div>
